[Desktop Entry]
Version=1.0
Type=Application
Name=GIMP (Creative Suite)
GenericName=Image Editor
Comment=GNU Image Manipulation Program - Photo editing and compositing
Icon=creative-suite-gimp
Exec=gimp %U
Terminal=false
StartupNotify=true
MimeType=image/bmp;image/g3fax;image/gif;image/x-fits;image/x-pcx;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-psd;image/x-sgi;image/x-tga;image/x-xbitmap;image/x-xwindowdump;image/x-xcf;image/x-compressed-xcf;image/x-gimp-gbr;image/x-gimp-pat;image/x-gimp-gih;image/jpeg;image/x-psp;image/png;image/x-icon;image/x-xpixmap;image/svg+xml;image/tiff;image/x-xcursor;
Categories=Graphics;Photography;X-Creative-Suite;
Keywords=photoshop;photo;image;edit;graphics;creative;suite;
